name: example
description: Example project for the flutter_translate library
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 0.1.0

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_translate:
    path: ../

flutter:

  uses-material-design: true
  assets:
    - assets/i18n/
